<xml><appid><![CDATA[wxac13806633046a10]]></appid>
<bank_type><![CDATA[CFT]]></bank_type>
<cash_fee><![CDATA[1]]></cash_fee>
<fee_type><![CDATA[CNY]]></fee_type>
<is_subscribe><![CDATA[N]]></is_subscribe>
<mch_id><![CDATA[1487094742]]></mch_id>
<nonce_str><![CDATA[6ief2mrktlfxisnvwqax0axd61d9bt9s]]></nonce_str>
<openid><![CDATA[oUm4A0a7UkpsFQQkMhSGqtfQxpsY]]></openid>
<out_trade_no><![CDATA[cfysuw6b9mfuu832h9im1vvgtqq7ybsq]]></out_trade_no>
<result_code><![CDATA[SUCCESS]]></result_code>
<return_code><![CDATA[SUCCESS]]></return_code>
<sign><![CDATA[4B28BD7EE5531A9A6EC8491914D9FF91]]></sign>
<time_end><![CDATA[20171009101338]]></time_end>
<total_fee>1</total_fee>
<trade_type><![CDATA[JSAPI]]></trade_type>
<transaction_id><![CDATA[4200000022201710096979007331]]></transaction_id>
</xml>
