<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
	        org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter         
	    </filter-class>
    <init-param>
      <param-name>actionPackages</param-name>
      <param-value>cn.com.hq.action</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
    <url-pattern>*.action</url-pattern>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>elementValidateFilter</filter-name>
    <filter-class>cn.com.hq.web.filter.ElementValidateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>elementValidateFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>page/login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Xiadan</servlet-name>
  	<display-name>Xiadan</display-name>
  	<description></description>
  	<servlet-class>com.weixinpay.Xiadan</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Sign</servlet-name>
  	<display-name>Sign</display-name>
  	<description></description>
  	<servlet-class>com.weixinpay.Sign</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PayResult</servlet-name>
  	<display-name>PayResult</display-name>
  	<description></description>
  	<servlet-class>com.weixinpay.PayResult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetOpenId</servlet-name>
  	<display-name>GetOpenId</display-name>
  	<description></description>
  	<servlet-class>com.weixinpay.GetOpenId</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Xiadan</servlet-name>
  	<url-pattern>/xiadan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Sign</servlet-name>
  	<url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PayResult</servlet-name>
  	<url-pattern>/PayResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetOpenId</servlet-name>
  	<url-pattern>/GetOpenId</url-pattern>
  </servlet-mapping>
</web-app>